.app {
  background-color: #f1f2f5;
}
.app__body {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 800px) {
  .app_hide {
    visibility: hidden;
    display: none;
  }
}

.app_hide {
  position: fixed;
  top: 20;
  width: 100;
}
